<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div>
  <span>Oi, {{name}}</span>
  <br />
  <span>Você solicitou uma alteraçāo de senha.</span>
  <span>Para realizar a troca, clique no link
    <a href={{link}}>{{link}}</a>

  <span>Caso você nāo tenha solicitado, ignore este e-mail.</span>

  <h3>Equipe | <strong>{{company}}</strong></h3>
</div>